@import "layout";
@import "headernavbar";
@import "page-title";
@import "form-fields";
@import "details";

//Auth
@import "auth/signin";
@import "auth/signup";

//Acount
@import './account/account';
@import './account/account-information';
@import './account/purchase-history';

//Shop
@import './shop/shop';



html {
    font-size: 62.5%;
}

body{
    font-family: "Open Sans";
    color: #808080;
}

h1{
    font-size: 1.5rem;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



